<nav class="tab-bar-section fixed-bottom bg-white">
  <ul class="f-between-center px-4">
    <li>
      <a
        href="index.html"
        class="pt-3 pb-1 px-3 <%=page === 'index' ? 'd-none' : '' %>"
      >
        <img
          src="../assets/images/icon/Tab_Bar/home_default.svg"
          alt="home-icon"
        />
        <p class="fs-10 text-gray-600 mt-1">首頁</p>
      </a>
      <a
        href="index.html"
        class="pt-3 pb-1 px-3 <%=page === 'index' ? '' : 'd-none' %>"
      >
        <img
          src="../assets/images/icon/Tab_Bar/home_selected.svg"
          alt="home_selected-icon"
        />
        <p class="fs-10 text-orange-400 mt-1">首頁</p>
      </a>
    </li>
    <li>
      <a
        href="accounting-receipt.html"
        class="pt-3 pb-1 px-3 <%=page === 'accounting-receipt' ? 'd-none' : '' %>"
      >
        <img
          src="../assets/images/icon/Tab_Bar/details_default.svg"
          alt="detail-icon"
        />
        <p class="fs-10 text-gray-600 mt-1">明細</p>
      </a>
      <a
        href="accounting-receipt.html"
        class="pt-3 pb-1 px-3 <%=page === 'accounting-receipt' ? '' : 'd-none' %>"
      >
        <img
          src="../assets/images/icon/Tab_Bar/details_selected.svg"
          alt="detail_selected-icon"
        />
        <p class="fs-10 text-orange-400 mt-1">明細</p>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="account-btn"
        data-bs-toggle="modal"
        data-bs-target="#accountModal"
      >
        <img
          src="../assets/images/icon/Tab_Bar/account_btn-lg.png"
          alt="account-btn"
          style="width: 64px; height: 64px;"
        />
      </a>
    </li>
    <!-- 統計 -->
    <li>
      <a
        href="statistics.html"
        class="pt-3 pb-1 px-3 <%=page === 'statistics' ? 'd-none' : '' %>"
      >
        <img
          src="../assets/images/icon/Tab_Bar/chart_default.svg"
          alt="chart-icon"
        />
        <p class="fs-10 text-gray-600 mt-1">統計</p>
      </a>

      <a
        href="statistics.html"
        class="pt-3 pb-1 px-3 <%=page === 'statistics' ? '' : 'd-none' %>"
      >
        <img
          src="../assets/images/icon/Tab_Bar/chart_selected.svg"
          alt="chart-icon"
        />
        <p class="fs-10 text-orange-400 mt-1">統計</p>
      </a>
    </li>
    <li>
      <a
      href="account-setting-total.html"
      class="pt-3 pb-1 px-3 <%=page === 'account-setting' ? 'd-none' : '' %>"
    >
      <img
        src="../assets/images/icon/Tab_Bar/user_default.svg"
        alt="user-icon"
      />
      <p class="fs-10 text-gray-600 mt-1">設定</p>
    </a>

    <a
      href="account-setting-total.html"
      class="pt-3 pb-1 px-3 <%=page === 'account-setting' ? '' : 'd-none' %>"
    >
      <img
        src="../assets/images/icon/Tab_Bar/user_selected.svg"
        alt="user-icon"
      />
      <p class="fs-10 text-orange-400 mt-1">設定</p>
    </a>
    </li>
  </ul>
</nav>
<%- include('./layout/account-modal'); -%>
